
@{
    Layout = null;
}
@model Home

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href=" https://cdn.jsdelivr.net/npm/@@bootcss/v3.bootcss.com@@1.0.10/dist/css/bootstrap.min.css">
    <title>FastGithub</title>
</head>

<body>
    <div class="container">

        <h1>FastGithub</h1>
        <p>github加速神器</p>
        <p>
            <span>软件版本：</span>
            <span>v@(Model?.Version)</span>
        </p>
        <p>
            <span>项目地址：</span>
            <a target="_blank" href="https://github.com/dotnetcore/FastGithub">https://github.com/dotnetcore/FastGithub</a>
        </p>


        <h3>CA证书</h3>
        <p>
            你可能需要在客户端设备下载FastGithub自颁发的CA证书<a target="_blank" href="/cert">FastGithub.cer</a>，导入到受信任的根证书颁发机构或浏览器
        </p>  
    </div>
</body>
</html>
